################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcMovie
/MvcMovie/node_modules
**/obj/
*.exe
# /MvcMovie/bin/Debug # Not sure if this should be here, so commenting it out for now