@model MvcMovie.Models.ViewBooksRowModel


<div class="pt-0 px-1 overflow-y-auto">
    @if (Model.Books != null && Model.Books.Any())
    {
        @foreach (var book in Model.Books)
        {
            @await Html.PartialAsync("_Book", book)
        }
    }
    else
    {
        <p>No books are currently in the list.</p>
    }
</div>