@model MvcMovie.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
    ViewBag.ShowHeader = true;
}

@{
    ViewBag.Title = "Home";

}

<h1>Home</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="@Url.Action("BrowseArea", "Home")" class="list-group-item list-group-item-action bg-light">BrowseArea</a>
<a href="@Url.Action("Login", "Home")" class="list-group-item list-group-item-action bg-light">Login</a>
<a href="@Url.Action("MyUser", "Home")" class="list-group-item list-group-item-action bg-light">User</a>
