@model MvcMovie.Models.LoginPageModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

@{
    ViewBag.Title = "Login";

}


<div class="container-fluid vh-100">
    <div class="m-9 d-flex flex-column align-items-center justify-content-start"> 
        <img src="~/images/Asset 1.svg" width="100" height="100"/>
        <h1 class="display-3 text-center">Better Reads</h1>
        <div class="text-center mt-3"><a href="https://betterreads-527-temp.auth.ap-southeast-2.amazoncognito.com/oauth2/authorize?response_type=code&client_id=43vph9vuvjvsr9gdnnofk54per&redirect_uri=https://localhost:7030/Home/MyUser">Log in</a></div>
    </div>
</div>
