@model MvcMovie.Models.MyUserModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MyUser";
    ViewBag.ShowHeader = true;
}

@{
    ViewBag.Title = "MyUser";
    var currentReadsModel = new ViewBooksRowModel(
        "Current Reads",
        Model.CurrentReads.ToList() // Ensure it's a List<BookModel>
    );

    var favouritesModel = new ViewBooksRowModel(
        "Favourites",
        Model.Favourites.ToList() // Ensure it's a List<BookModel>
    );
}

<!-- url to signout:
    https://betterreads-temp-527.auth.us-east-1.amazoncognito.com/logout?response_type=code&client_id=6aomva7s8ai8enq5uov9q5ff0i&logout_uri=https://localhost:7030/Home/Login
    -->

<div class="w-100 d-flex flex-column justify-content-center"> 
    <div class="mh-25 p-2">
        <p class="fs-3 mb-0">User's Name</p> <!-- mb-0 removes bottom margin -->
        <p class="fs-6 mb-0">User's Name</p>
    </div>
    <ul class="nav nav-underline pt-4">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#Overview">Overview</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Booklist">Booklist</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Reviews">Reviews</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Friends">Friends</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane container active" id="Overview">
        <div class="p-2 d-flex  flex-row ">
                    @await Html.PartialAsync("_BookList", currentReadsModel)
                    @await Html.PartialAsync("_BookList", favouritesModel)
            <div class="card m-2" style="width: 18rem;">
                <div class="card-header">
                    Activities
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    
    </div>
    <div class="tab-pane container fade" id="Booklist">
    
    
    
    </div>
    <div class="tab-pane container fade" id="Reviews">
    
    
    
    </div>

        <div class="tab-pane container fade" id="Friends">
    
    
    
        </div>
    </div>
</div> 
